<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>AboveTheFold</title>
	<!-- <link rel="stylesheet" type="text/css" media="all" href="css/960.css" /> -->
	<%= stylesheet_link_tag "af/css/960" %>
	<!-- <link media="all" rel="stylesheet" type="text/css" href="af/css/all.css" /> -->
	<%= stylesheet_link_tag "af/css/all" %>
	

    <%= javascript_include_tag "af/js/jquery-1.4.3.min.js" %>
	<%= javascript_include_tag "af/js/cufon.js" %>
	<%= javascript_include_tag "af/js/cufon-fonts.js" %>
	<%= javascript_include_tag "af/js/cufon-settings.js" %>
	<%= javascript_include_tag "af/fancybox/jquery.fancybox-1.3.4.pack.js" %>

    <!-- <link rel="stylesheet" href="af/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" /> -->
    <%= stylesheet_link_tag "af/fancybox/jquery.fancybox-1.3.4" %>
	<!--[if lt IE 8]>
		<!-- <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/> -->
		<%= stylesheet_link_tag "af/css/ie" %>
	<![endif]-->
	<!--[if lt IE 7 ]>
		<script src="af/js/dd_belatedpng.js"></script>
		<script> DD_belatedPNG.fix('img, .png_bg'); </script>
	<![endif]-->
	<%= javascript_include_tag "af/js/jquery.main.js" %>
</head>
<body>
	<div class="w1 clearfix png_bg">
		<div class="container_12">
			<div id="header" class="grid_12">
				<h1 class="logo"><a href="index.html"><strong>TwitterEver</strong></a></h1>
				<% if !session[:user].nil? %>
						<div class="side">
							<strong class="call">Hello,<span class="phone"><%= "#{session[:user].username}"%></span></strong><%= button_to "Logout", :action => :logout %>
						</div>
				<% else %>
					<div class="side">
						<strong class="call">Sign in with your</strong><span class="phone" style="padding-right:4px; padding-bottom:2px;"><%= button_to "Evernote", :action => "login_to_evernote" %></span><strong class="call" style="padding-left:5px">account</strong>
					</div>
				<% end %>
			
			</div>
			<div class="clear">&nbsp;</div>
			<div id="main" class="grid_12">
				<div class="main-holder">
					<div class="column">
						<h2>Features List</h2>
						<table>
																			<tr>
																				<th class="name"></th>
																				<th class="col"><img src="images/img2.png" alt="image description" /></th>
																				<th class="col"><img src="images/img3.png" alt="image description" /></th>
																				<th><img src="images/img4.png" alt="image description" /></th>
																			</tr>
																			<tr>
																				<td><h3>Feature Set One</h3></td>
																				<td><img class="bullet" src="images/bullet.png" alt="image description" /></td>
																				<td></td>
																				<td></td>
																			</tr>
																			<tr>
																				<td><h3>Feature Set Two</h3></td>
																				<td></td>
																				<td><img class="bullet" src="images/bullet.png" alt="image description" /></td>
																				<td><img class="bullet" src="images/bullet.png" alt="image description" /></td>
																			</tr>
																			<tr>
																				<td><h3>Feature Set Three</h3></td>
																				<td><img class="bullet" src="images/bullet.png" alt="image description" /></td>
																				<td><img class="bullet" src="images/bullet.png" alt="image description" /></td>
																				<td></td>
																			</tr>
																		</table>
					</div>
					<div class="column2">
						<h2>But Wait, There’s More</h2>
						<ul class="tags">
							<li class="clock">
								<h3><a href="#">Blandit praesent luptatum</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetuer adipis</p>
							</li>
							<li class="people">
								<h3><a href="#">Typi non habent</a></h3>
								<p>Ut wisi enim ad minim veniam, quis nostrud exe</p>
							</li>
							<li class="wifi">
								<h3><a href="#">Mirum est notare quam</a></h3>
								<p>Duis autem vel eum iriure dolor in hendrerit in</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
	</div>
	<div class="w2 clearfix png_bg">
		<div class="container_12">
			<div class="nav-holder">
				<div id="nav">
					<div class="nav-w1">
						<div class="nav-w2">
							<ul class="clearfix">
								<li class="active"><a href="features.html"><span class="lt">Features</span><span class="rt"></span></a></li>
								<li><a href="benefits.html"><span class="lt">How it works</span><span class="rt"></span></a></li>
								<!-- <li><a href="testimonials.html"><span class="lt">Testimonials</span><span class="rt"></span></a></li> -->
								<li><a href="screenshots.html"><span class="lt">Screenshots</span><span class="rt"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="block grid_12">
							<h3><strong>TRY WIDGET</strong> <span>for</span> <strong>FREE</strong></h3>
							<br/> <!-- Put some marketing text here if you'd like! -->
							<!-- <a href="#" class="button large lightgreen"><span><span>Big Action Button</span></span></a><br />
														<span>or <a href="#">Secondary Call to Action</a></span> -->
			</div> -->
			<div class="clear">&nbsp;</div>
		</div>
	</div>
	<div id="footer" class="clearfix png_bg">
		<div class="container_12">
			<div class="grid_12 holder">
				<span class="copy">2010 &copy; Worry Free Labs LLC.</span>
				<ul class="social-networks">
					<li><a href="#" class="vimeo png_bg">vimeo</a></li>
					<li><a href="#" class="linkedin png_bg">linkedin</a></li>
					<li><a href="#" class="facebook png_bg">facebook</a></li>
					<li><a href="#" class="twitter png_bg">twitter</a></li>
					<li><a href="#" class="flickr png_bg">flickr</a></li>
				</ul>
				<ul>
					<li><a href="#">Terms and Conditions</a></li>
					<li><a href="#">Privacy Statement</a></li>
				</ul>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
	</div>
<span id="bottom"></span>
</body>
</html>